@charset "utf-8";
/* CSS Document */

html{
	min-height: 100%;
}

body {
  background: radial-gradient(ellipse at bottom left, rgba(104, 128, 138, 0.4) 10%, rgba(138, 114, 76, 0) 40%), linear-gradient(to bottom, rgba(57, 173, 219, .25), rgba(42, 60, 87, 0.4)), linear-gradient(135deg, #670d10, #092756);
}

h1 {
  color: white;
  padding-left: 10px;
	font-family: 'Raleway', sans-serif;
	font-weight: bold;
	text-decoration: underline;
	background-color: purple;
	width: 600px;
	border-radius: 10px;
	padding: 10px;
	align-content: center;
	left: 30%;
	position: relative;
	text-align: center;
}

.main_head{
	color:white;
	text-align: center;
	vertical-align: center;
}

.flask_django{
	text-decoration: none;
	color: white;
	transition: 0.3s;
	font-weight: bold;
	font-size: 24px;
}

.flask_django:hover{
	background-color: gray;
	opacity: 0.9;
	border-radius: 10px;
	padding: 5px;
	margin: 5px;
}

.head_content{
	text-align: center;
	margin-bottom: 60px;
}

div#all {
  width: 100%;
  height: 100%;
}


/* generic css */

.view {
  margin: 20px;
  float: left;
  border: 5px solid #fff;
  overflow: hidden;
  position: relative;
  text-align: center;
  box-shadow: 1px 1px 2px #e6e6e6;
  cursor: default;
  background: #fff url(../images/bgimg.jpg) no-repeat center center
}

.view .mask,
.view .content {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0
}

.view img {
  display: block;
  position: relative;
}

.view h2 {
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  position: relative;
  font-size: 17px;
  font-family: Raleway, serif;
  padding: 10px;
  /*background: rgba(0, 0, 0, 0.8);*/
  margin: 20px 0 0 0
}

.view p {
  font-family: Merriweather, serif;
  font-style: italic;
  font-size: 20px;
  position: relative;
  color: #fff;
	font-weight: bold;
  padding: 0px 20px 0px;
  text-align: center
}

.view a.info {
  display: inline-block;
  text-decoration: none;
  padding: 7px 14px;
  background: #000;
  color: #fff;
  font-family: Raleway, serif;
  text-transform: uppercase;
  box-shadow: 0 0 1px #000
}

.view a.info:hover {
  box-shadow: 0 0 5px #000
}

.flask img {
  transition: all 0.2s linear;
  width: 100%;
  height: 100%x;
}

.flask .mask {
  opacity: 0;
  background-color: rgba(58, 1, 132, 0.44);
  transition: all 0.4s ease-in-out;
}

.flask h2 {
  transform: translateY(-100px);
  opacity: 0;
  font-family: Raleway, serif;
  transition: all 0.2s ease-in-out;
}

.flask p {
  transform: translateY(100px);
  opacity: 0;
  transition: all 0.2s linear;
}

.flask a.info {
  opacity: 0;
  transition: all 0.2s ease-in-out;
}


/* */

.flask:hover img {
  transform: scale(1.1);
}

.flask:hover .mask {
  opacity: 1;
}

.flask:hover h2,
.flask:hover p,
.flask:hover a.info {
  opacity: 1;
  transform: translateY(0px);
}

.flask:hover p {
  transition-delay: 0.1s;
}

.flask:hover a.info {
  transition-delay: 0.2s;
}


/*2*/

.django img {
  transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
}

.django .mask {
  background-color: rgba(12, 19, 27, 0.6);
  width: 100%;
  padding: 105px;
  height: 100%;
  opacity: 0;
  -webkit-transform: translate(265px, 145px) rotate(45deg);
  transform: translate(265px, 145px) rotate(45deg);
  transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
}

.django h2 {
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  font-family: Raleway, serif;
  background: transparent;
  margin: 20px 40px 0px 40px;
  -webkit-transform: translate(200px, -200px);
  transform: translate(200px, -200px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.django p {
  -webkit-transform: translate(200px, -200px);
	  transform: translate(-200px, 200px);
  transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
}

.django a.info {
  -webkit-transform: translate(0px, 100px);
	  transform: translate(0px, 100px);
  transition: all 0.2s 0.1s ease-in-out;
  -webkit-transition: all 0.2s 0.1s ease-in-out;
}


/* */

.django:hover .mask {
  opacity: 1;
  -webkit-transform: translate(-80px, -125px) rotate(45deg);
	  transform: translate(-80px, -125px) rotate(45deg);
}

.django:hover h2 {
  -webkit-transform: translate(0px, 0px);
	  transform: translate(0px, 0px);
  transition-delay: 0.3s;
  -webkit-transition-delay: 0.3s;
}

.django:hover p {
  -webkit-transform: translate(0px, 0px);
	  transform: translate(0px, 0px);
  transition-delay: 0.4s;
  -webkit-transition-delay: 0.4s;
}

.django:hover a.info {
  -webkit-transform: translate(0px, 0px);
	  transform: translate(0px, 0px);
  transition-delay: 0.5s;
  -webkit-transition-delay: 0.5s;
}